<!DOCTYPE html>
<html lang="es">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF8" />
		<title>Symfony Madrid</title>
		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link rel="shortcut icon" href={{ asset('bundles/sfmwebsite/favicon.ico') }} type="image/x-icon"/> 
		<link rel="stylesheet" type="text/css" href={{ asset('bundles/sfmwebsite/css/styles.css') }} />
		<link rel="author" href={{ asset('bundles/sfmwebsite/human.txt') }} />   
	</head>

	<body>
	  <a href="http://github.com/symfony-madrid/symfony-madrid"><img style="position: absolute; top: 0; right: 0; border: 0;" src={{ asset('bundles/sfmwebsite/images/forkme_on_github.png') }} alt="Fork me on GitHub" /></a>
		<div class="bg">
			<!--start container-->
			<div id="container">
				<!--start header-->
				<header>
					<!--start logo-->
					<a href="#" id="logo"><img src={{ asset('bundles/sfmwebsite/images/titulo-symfony-madrid.png') }} width="550" height="150" alt="logo"/></a>
					<!--end logo-->

					<section class="social">
						<ul>
							<li><a href="http://www.facebook.com/pages/Symfony-Madrid/263459737000849" id="facebook"><img src={{ asset('bundles/sfmwebsite/images/facebook.png') }} width="64" height="64" alt="facebook"/></a></li>
							<li><a href="http://twitter.com/#!/symfony_madrid" id="twitter"><img src={{ asset('bundles/sfmwebsite/images/twitter.png') }} width="64" height="64" alt="twitter"/></a></li>
							<li><a href="https://plus.google.com/110459827478804956885/about" id="google_plus"><img src={{ asset('bundles/sfmwebsite/images/google_plus.png') }} width="64" height="64" alt="google plus"/></a></li>
							<li><a href="https://github.com/symfony-madrid" id="github"><img src={{ asset('bundles/sfmwebsite/images/github.png') }} width="64" height="64" alt="github"/></a></li>
							<li><a href="#" id="rss"><img src={{ asset('bundles/sfmwebsite/images/rss.png') }} width="64" height="64" alt="rss"/></a></li>
						</ul>					
					</section>
					<!--start menu-->
					<nav>
						{{ knp_menu('main') }}
					</nav>
					<!--end menu-->
				</header>
				<!--end header-->
				<!--start holder-->
				<div class="holder_content">
				{% block content %}
					<section class="group1">
					</section>
					<section class="group2">
						<h3>En construcción</h3>
						<img class="photo_hover3" src={{ asset('bundles/sfmwebsite/images/under-construction.jpg') }} width="240" height="240" alt="en construcción"/>
					</section>
					<section class="group3">
					</section>
				{% endblock %}
				</div>
				<!--end holder-->
			</div>
			<!--end container-->
			<!--start footer-->
			<footer>
			<div class="container">  
				<div id="FooterTwo"><a href={{ asset('bundles/sfmwebsite/humans.txt') }} id="humantxt"><img src={{ asset('bundles/sfmwebsite/images/humanstxt.gif') }} width="88" height="31" alt="humantxt"/><a href="#" id="iukanet"><img src={{ asset('bundles/sfmwebsite/images/iukanet.png') }} width="144" height="40" alt="iukanet"/></a></div>
			</div>
			</footer>
			<!--end footer-->
		</div>
		<!--end bg-->
		<!-- Free template distributed by http://freehtml5templates.com -->
	</body>
</html>
